body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.skip-link{
    position: absolute;
    left: -9999px
}

.skip-link:focus{
    left: auto;
}

h1, h2{
    text-align: center;
    /* margin: 8px; */
    line-height: 150%;
    font-weight: 600;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    padding: 20px;
    margin: auto;
}

h2{
    padding: 20px;
    margin: auto;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
    font-weight: 600;
}


.nav{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    border-bottom: 1px solid #dee0df;
    padding: 20px;
    margin: 4px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
    margin: 0 10px; /* Add margin between menu items */
 
}

.nav a{
    text-decoration: none;
    padding: 10px 15px;
}

.nav a:hover{
    font-weight: 700;
    border-bottom: 3px solid #112942;
    color: #112942;
}


a:link{
    color:blue;
}

a:active{
    color: blue;
}

a:visited{
    color:purple;
}

a:hover{
    color:blue;
}
/* Media queries */
@media only screen and (max-width: 768px) {
    .nav {
        flex-direction: column; /* Stack menu items vertically on smaller screens */
        align-items: center; /* Center the items vertically */
    }

    .nav li {
        display: block; /* Change display to block for menu items */
        margin: 10px 0; /* Adjust margin for menu items */
    }

    .nav a {
        padding: 10px; /* Adjust padding for menu items */
    }

    /* Add styles for smaller screens here */
}

#main-content{
    flex:1 0 auto;
}

footer {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;    
    background-color: #f4f5f0;
    justify-content: center;
}

p{
    text-align: left;
    line-height: 125%;
    width: 50%;
    margin: 40px auto 40px auto;

}

.recipe-card-head{
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    background-color: #112942;
    color: #fff;
    padding: 0px 36px 36px 36px;
    text-align: center;
}


.recipe-card-head img{
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 3px solid  #112942;
    width: 180px;
    height: 180px;
    object-fit: cover;
    position: relative;
    top: -50px;
}

.recipe-body{
    display: block;
    width: 50%;
    margin: auto;
    background-color: #f6f5f3;
    padding: 36px;
}

.recipe-ingredients, .recipe-steps{
    display: block;
    justify-content: center;
    text-align: left;
    line-height: 150%;
    padding: 20px 0px;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .recipe-card-head,
    .recipe-body {
        width: 100%; /* Adjust width for smaller screens */
    }

    .recipe-card-head img {
        width: 150px; /* Adjust image size for smaller screens */
        height: 150px;
    }

    /* Add styles for smaller screens here */
}

@media only screen and (max-width: 480px) {
    .recipe-card-head,
    .recipe-body {
        padding: 16px; /* Adjust padding for smaller screens */
    }

    .recipe-card-head img {
        width: 120px; /* Further adjust image size for smaller screens */
        height: 120px;
    }

}

ol{
    padding-top: 20px;
    list-style-position: inside;
    list-style-type: decimal;
}

.recipe-ingredients ul{
    list-style-type: disc;
    list-style-position: inside;
}

ol li, ul li{
    padding: 10px 0px 0px 0px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 240px 240px 240px;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    column-gap: 16px;
    width: 50%;
    margin: auto;
}

.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 75%;
    transition-property: all;
    filter: none;
}

.grid img:hover{
    filter: grayscale(100%);
    border-radius: 16px;
    border: 3px solid #112942;
}

/* For screens larger than 1280px (typical laptop), have a bento grid */
@media only screen and (min-width: 1280px){
    .grid img:nth-child(1),
    .grid img:nth-child(7){
        grid-column: span 2;
    }    
}

/* For screens smaller than 768px (typical tablets), normal grid */
@media only screen and (max-width: 768px) {
    p{
        width: 80%;
    }

    h1{
        width: 80%;
    }
    .grid {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }

}

/* For screens smaller than 480px (typical smartphones) */
@media only screen and (max-width: 480px) {
    h1{
        font-size: 32px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .recipe-card-head {
        width: 100%;
    }
    
    .recipe-card-head img {
        width: 150px; /* Adjust image size for smaller screens */
        height: 150px;
    }
    
    .nav {
        flex-direction: column;
        align-items: center;
    }
    
    .nav li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }
    
    .nav a {
        padding: 10px;
    }
}


.trello-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90%;
    margin: auto;
    row-gap: 16px;
    column-gap: 16px;
}

.trello-wrapper div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-color: #112942;
    background-color: #f1f2f4;
    border-radius: 16px;
    text-align: center;
    font-weight: 600;
    padding: 20px 0px 20px 0px;
}

.trello-wrapper img{
    display: flex;
    width: 90%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin: auto;
    border: #dee0df;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.16);
    transition-property: all;
    transition-timing-function: ease-in;
}

.trello-wrapper img:hover{
    transform: scale(1.05) rotate(2deg);

}

.trello-column{
    min-height: 200px;
    border: 2px dashed #ccc;
    padding: 10px;
    margin-bottom:20px;
}
/* Media queries */
@media only screen and (max-width: 768px) {
    .trello-wrapper {
        grid-template-columns: 1fr; /* Change to one column for smaller screens */
    }

    .trello-column {
        margin-bottom: 20px; /* Add margin between columns for smaller screens */
    }
    
    /* Add styles for smaller screens here */
}

.video{
    margin: 0px 0px 40px 0px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%;
}
